body{
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
   min-width:850px !important;
   width: auto !important;
   width:850px;
}

p {
  font-size: 16px;
}

p.slash {
  font-size: 26px;
  margin-bottom: 0em;
}

.ui.basic.table td {
  padding-left: 11px !important;
}

.ui.basic.table td:first-child {
  font-weight: bold !important;
}

.inline {
  vertical-align: middle;
}

#inMask {
  width: 70px;
}

.ui.form .fields .field .ui.input input, .ui.form .field .ui.input input {
    width: 300px !important;
}
